<!DOCTYPE html>
<html lang="en">
    <title>PhotoBooth</title>
    <head>
        <link rel="icon" type="image/png" href="../static/icons/logo.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="../static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar">
            <div id="logos">
                <a href="../templates/index.html"><img src="../static/icons/logo.png" height="60px" width="60px" alt="logo"></a>
                <a href="../templates/index.html">PhotoBooth</a>
            </div>
            <div id="Searchbar">
                <input type="text" id="search" placeholder="Search..">
                <button type="submit" id="searchbutton"><img src="../static/icons/search.png" height="19px" width="19px" alt="search button"></button>
            </div>
            <ul id = "navlist">
                <li><a href="../templates/categories.html">Categories</a></li>
                <li><a href="{{url_for('user')}}" class="Session-Login">{{session.username}}</a></li>
                <li><button id="up-btn" type="submit">Upload</button></li>
            </ul>
        </nav>
        <div id="picsearch">
            <img src="" id="mount" alt="Mountain Picture Background">
            <div id="insidepic">    
                <div id="head-h1">PhotoBooth</div>
                <div id="head-h4">Tranform your space because this is my space</div>
                <div id="picsearchbar">
                    <input type="text" id="searchengine" placeholder="Search..">
                    <button type="submit"><img src="../static/icons/search.png" height="19px" width="19px" alt="searchbutton"></button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="wall-head">
                <strong>Wall</strong><span>paper</span>
            </div>
            <div class="box">
                <div id = "box-content-1" class="box-content">
                    <div class = "moreimg">
                    </div>
                </div>
                
                <div id = "box-content-2" class="box-content">
                    <div class = "moreimg">
                    </div>
                </div>
                
                <div id = "box-content-3" class = "box-content">
                    <div class = "moreimg">
                    </div>
                </div>
                
                <div id = "box-content-4" class="box-content">
                    <div class = "moreimg">
                    </div>
                </div>  
            </div>
            <div>
                <button type="submit" id="morebtn">Show More</button>
            </div> 
        </div>

        


        <div class = "modal">
            <button id="next-btn">></button>
            <img src="" alt="modalimg" class="modal-img">
            <a id="download-link" href="" download="image.jpg"><button id="download-btn" type="button">Download</button></a>
            <button id="prev-btn"><</button>
            <span class="close">&times;</span>
        </div>  

        <div id="footer">
            <div id="media">
                <div id="head-mot">Follow us on Social Media</div>
                <div id="social-media">
                    <li><a href="#"><img src="../static/icons/insta.png" alt="insta"></a></li>
                    <li><a href="#"><img src="../static/icons/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="#"><img src="../static/icons/facebook.png" alt="facebook"></a></li>
                </div>
            </div>
            <div id="footer-content">
                <div id="promo">
                    <ul>
                        <li><strong>PhotoBooth</strong></li>
                        <li>Enjoy the beauty of the life <p>with the latest iamges</p><p>of our time lets begin this journey</p><p>with pride and enthusiasm</p></li>
                    </ul>
                </div>
                <div id="info">
                    <ul>
                        <li><strong>Info</strong></li>
                        <li>About</li>
                        <li>FAQ</li>
                        <li>Contact us</li>
                        <li>Terms & Condition</li>
                        <li>Privacy Policy</li>
                        <li>Report Problem</li>
                    </ul>
                </div>
                <div id="download">
                    <ul>
                        <li><strong>Download</strong></li>
                        <li><a href="#"><img src="../static/icons/playstore.png" style="padding-bottom: 15px;" alt="playstore"></a></li>
                        <li><a href="#"><img src="../static/icons/appstore.png" alt="appstore"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <form action = "/upload" method="post" enctype="multipart/form-data"> 
            <div class = "Upload-content">
                <div id="upload-place">
                        <div id="drag-drop-up">
                            <input id="hidden_up" type="file" name="dragfile" draggable>
                            <img src="../static/icons/attaching.gif" alt="attach gif"><br>
                            <strong>Have wallpaper to Upload?</strong><br>
                        </div>
                        <div id="upload-bylink">
                            <span>Photo by URL link</span>
                        </div>
                        <img id="up-img" src="" alt="uploaded img">
                    </div>
                    <span class="close_up">&times;</span>
                <button id="up-submit" name="submit">Submit</button>
            </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
        <script src="../static/js/script.js"></script>

    </body>
</html> 